p {
    font-size: 1.5em;
    color: gray;
    background-image: none;
    background-color: gray;
}

div {
    background-image:
    url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fjooinn.com%2Fdark-background.html&psig=AOvVaw0OqIxGPXJYkOLgPzE2AtmP&ust=1587496074348000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjLsvLZ9-gCFQAAAAAdAAAAABAD");
}

.darkbackground {
    background-image:
            url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fjooinn.com%2Fdark-background.html&psig=AOvVaw0OqIxGPXJYkOLgPzE2AtmP&ust=1587496074348000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjLsvLZ9-gCFQAAAAAdAAAAABAD");
    background-color: gray;
}